.whiteboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .whiteboard-canvas {
    border: 2px solid black;
    background-color: #fff;
  }
    

  .clear-board-button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #00bfff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .clear-board-button:hover {
    background-color: #1934ff;
  }